$bg-color: #111111;
$main-color: #0094FF;
$hero-basic-text-color: #A7A7A7;
$title-text-color: #DEDEDE;
$text-color: #E4E4E4;
$footer-text-color: #949494;

$main-font: 'Poppins';
$secondary-font: 'Consolas';

* {
   padding: 0;
   margin: 0;

   
}