$bg-color: #111111;
$main-color: #0094FF;
$hero-basic-text-color: #E4E4E4;
$title-text-color: #E4E4E4;
$text-color: #E4E4E4;
$footer-text-color: #949494;

$main-font: 'Poppins';
$secondary-font: Consolas,monaco,monospace;

* {
   padding: 0;
   margin: 0;
   
   body {
      background-color: $bg-color;
      color: $text-color;
      font-family: $main-font;
      font-weight: 300;

      a {
         color: $main-color;
      }

      h3 {
         display: inline;
      }

      .text-highlight {
         color: $main-color;
         display: inline !important;
      }

      .console-font {
         font-family: $secondary-font !important;
         color: $main-color !important;
         display: inline;
      }

      article {
         padding-top: 2em;
      }

      section > .console-font {
         font-size: 1.25em;
      }

      .hero {
         position: relative;
         min-height: 35rem;
         background: linear-gradient(150.26deg, rgba(0, 39, 67, 0.9) 10.27%, rgba(0, 52, 90, 0.9) 92.01%), url("../resources/hero.jpg");
         background-position: center;
         background-size: cover;
         color: $hero-basic-text-color;

         .hero-container {
            position: relative;
            width: 80%;
            margin: 0 auto;
            padding-top: 6em;

            h1 {
               font-size: 2.4em;
               color: $title-text-color;
            }

            h2 {
               margin-bottom: 1em;
            }

            .hero-text {
               display: inline !important;
               margin-top: 2em;
            }

            a {
               font-family: $secondary-font;
               display: block;
               width: 100%;
               text-decoration: none !important;
               color: $main-color;
               border: 1px solid $main-color;
               border-radius: 4px;
               text-align: center;
               padding: 0.6em 0;
               font-weight: 700 !important;
               margin-top: 1.5em !important;

               &:hover {
                  background-color: #0095ff18;
                  transition: 100ms;
               }
            }

            img {
               position: absolute;
               top: 1em;
               right: -1em;
               width: 180px;
               z-index: 0 !important;
            }
         }

         .socials {
            position: absolute;
            bottom: -1.5em;
            right: 10%;
            background: #141414;
            border-radius: 4px;
            filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.15));
            padding: .7em 2em;
            
            i {
               margin: 0 1em;
               transform: scale(1.5);

               &:hover {
                  color:rgb(255, 255, 255) !important;
                  transition: 100ms;
               }
            }
         }
      }

      main {
         padding-top: 1em;
         margin: 0 auto;
         width: 80%;

         .heading {
            display: grid;
            grid-template-columns: max-content max-content auto;
            align-items: center;
            
            p, h3 {
               width: fit-content;
               margin-right: .2em;
            }

            .heading-line {
               margin-left: .3em;
               height: 1px;
               border-radius: 4px;
               background-color: #ececec42;
            }
         }

         .about {

            .about-text {
               padding-top: 1em;
            }

            .technologies {
               ul {
                  list-style: none;
                  padding: 1em 2em;
                  li::before {
                  
                     content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                     color: $main-color; /* Change the color */
                     font-weight: bold; /* If you want it to be bold */
                     display: inline-block; /* Needed to add space between the bullet and the text */
                     width: 1em; /* Also needed for space (tweak if needed) */
                     margin-left: -1em; /* Also needed for space (tweak if needed) */
                  }
               } 
            }

            img {
               width: 70%;
               max-width: 350px;
               display: block;
               margin: 0 auto;
               border-radius: 4px;
               border: 2px solid white;
               margin-bottom: 2em;

               
            }

         }

         .built {

            .project-container {
               padding: 2em;
               display: flex;
               flex-wrap: wrap;
               
               .main-project {
                  position: relative;
                  min-height: 20em;
                  max-width: 28em;
                  margin: 2em auto;

                  .title {
                     display: grid;
                     grid-template-columns: max-content max-content max-content;
                     align-items: center;
                     column-gap: .5em;
                     margin-bottom: .5em;

                     .logo {
                        width: 2em;
                     }

                     .type {
                        display: block;
                        font-size: .8em;
                     }

                     .oceans {
                        color: #E33E29 !important;
                     }

                     .amigo {
                        color: #E2BF78 !important;
                     }

                     .name {
                        display: inline;
                     }

                     .link-btn {
                        position: relative;
                        width: 1em;
                        min-height: 100%;

                        i {
                           position: absolute;
                           bottom: .4em;
                           right: 0;
                        }
                     }
                    
                  }

                  aside {
                     background: #242424;
                     box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
                     display: grid;
                     align-items: center;
                     padding: 1em 1.5em;
                     border-radius: 4px;
                     width: 65%;
                     min-height: 5em;
                     z-index: 2;
                  }

                  .project-photo {
                     position: absolute;
                     right: 0;
                     bottom: -1.5em;
                     z-index: -1;
                     width: 140px;
                     height: auto;
                     object-fit:cover;
                     object-position:50% 50%;
                  }
               }

               .inverted.main-project {
                  
                  .title {
                     float: right;
                  }

                  aside {
                     margin-left: 25%;
                  }

                  .project-photo {
                     right: unset;
                  }
               }
            }
         }
      }

      footer {
         min-height: 10em;
         display: grid;
         align-items: center;
         text-align: center;
         font-family: $secondary-font;
         color: $footer-text-color !important;
         font-size: 0.7em;

         a {
            color: $footer-text-color !important;
         }
      }
   }
}

@media only screen and (min-width: 500px) { 
   .project-photo {
      bottom: unset;
      top: 0;
   }
}

@media only screen and (min-width: 700px) {
   * {
      font-size: 16px;

      main,.hero-container {
         width: 70% !important;
      }

      article {
         padding-top: 8em !important;
      }

      .hero {
         .hero-container {
            display: grid;
            grid-template-columns: auto 40%;
            align-items: center;
   
            .content-container {
   
               .hero-text {
                  margin-top: unset !important;
               }
               
            }
   
            .image-container {
               width: 100% !important;
               display: grid;
               align-items: center;
   
               img {
                  position: relative !important;
                  width: 100% !important;
                  display: block;
                  text-align: center;
               }
            }
            
         }
         .socials {
            right: 20% !important;
         }
      }
      

      .about-text {

         .top-content-wrapper {
            display: grid;
            grid-template-columns: auto auto;
         }

         .technologies {
            ul {
   
               li {
                  float: left;
                  margin-left: 2.5em;
               }
            }
         }
         
      }
      
   }
}



@media only screen and (min-width: 1600px) {
   * {
      font-size: 17px;

      main,.hero-container {
         width: 65% !important;
      }
   }
}