$bg-color: #111111;
$main-color: #0094FF;
$hero-basic-text-color: #A7A7A7;
$title-text-color: #DEDEDE;
$text-color: #E4E4E4;
$footer-text-color: #949494;

$main-font: 'Poppins';
$secondary-font: Consolas,monaco,monospace;

* {
   padding: 0;
   margin: 0;
   
   body {
      background-color: $bg-color;
      color: $text-color;
      font-family: $main-font;
      font-weight: 300;

      a {
         color: $main-color;
      }

      h3 {
         display: inline;
      }

      .text-highlight {
         color: $main-color;
         display: inline !important;
      }

      .console-font {
         font-family: $secondary-font !important;
         color: $main-color !important;
         display: inline;
      }

      section > .console-font {
         font-size: 1.25em;
      }

      .hero {
         height: 35rem;
         background: linear-gradient(150.26deg, rgba(0, 39, 67, 0.9) 10.27%, rgba(0, 52, 90, 0.9) 92.01%), url("../resources/hero.jpg");
         background-position: center;
         background-size: cover;
         color: $hero-basic-text-color;

         .hero-container {
            position: relative;
            width: 80%;
            margin: 0 auto;
            padding-top: 6em;

            h1 {
               font-size: 2.4em;
               color: $title-text-color;
            }

            h2 {
               margin-bottom: 1em;
            }

            .hero-text {
               display: inline;
               margin-top: 2em !important;
            }

            a {
               font-family: $secondary-font;
               display: block;
               width: 100%;
               text-decoration: none !important;
               color: $main-color;
               border: 1px solid $main-color;
               border-radius: 4px;
               text-align: center;
               padding: 0.6em 0;
               font-weight: 700 !important;
               margin-top: 1.5em !important;

               &:hover {
                  background-color: #0095ff18;
                  transition: 100ms;
               }
            }

            img {
               position: absolute;
               top: 1em;
               right: -1em;
               width: 10em;
               z-index: 0 !important;
            }
         }
      }

      main {
         padding-top: 2em;
         margin: 0 auto;
         width: 80%;

         .heading {
            display: grid;
            grid-template-columns: max-content max-content auto;
            align-items: center;
            
            p, h3 {
               width: fit-content;
               margin-right: .2em;
            }

            .heading-line {
               margin-left: .3em;
               height: .1em;
               border-radius: 4px;
               background-color: #ececec86;
            }
         }

         .about {

            .about-text {
               padding-top: 1em;
            }

            .technologies {
               ul {
                  list-style: none;
                  padding: 1em 2em;
                  li::before {
                  
                     content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                     color: $main-color; /* Change the color */
                     font-weight: bold; /* If you want it to be bold */
                     display: inline-block; /* Needed to add space between the bullet and the text */
                     width: 1em; /* Also needed for space (tweak if needed) */
                     margin-left: -1em; /* Also needed for space (tweak if needed) */
                  }
               } 
            }

            img {
               width: 80%;
               display: block;
               margin: 0 auto;
               border-radius: 4px;
               border: 2px solid white;
               margin-bottom: 1em
            }

         }
      }
   }
}